---
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>
        Published on: {
            new Date(frontmatter.pubDate).toLocaleDateString("en-IN", {
                year: "numeric",
                month: "short",
                day: "2-digit",
            })
        }
    </p>
    <p>Written by {frontmatter.author}</p>
    <p>{frontmatter.description}</p>
    <Image
        inferSize
        quality={80}
        loading={"eager"}
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        class="image"
    />
    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
    <slot />
</BaseLayout>

<style>
    .image {
        width: 100%;
        aspect-ratio: 16/9;
        height: auto;
        border-radius: 12px;
        margin: 0.5rem 0;
    }

    a {
        color: #00539f;
        font-weight: 500;
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
    }
    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.1em;
        background-color: #f8fcfd;
    }
</style>
